<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>

<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>

<script>
    var roomName = {{ room_name_json }};  // 변수 초기화
    var userName = {{ user_name_json }};

    var chatSocket = new WebSocket(  // ws 로시작하면 웹소켓으로잡겠다.
        'ws://' + window.location.host +
        '/ws/mysite/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data); 
        var userId = data['userId'];
        var type = data['type'];
        var message = data['message'];

        if(type == 'chatBot'){ //유저인지 챗봇인지 구분  챗봇: chatBot  유저: userId
            document.querySelector('#chat-log').value += (type + ' : ' +message + '\n');
        }else if(userName != userId){
            document.querySelector('#chat-log').value += (userId + ' : ' +message + '\n');
        }

    };

    chatSocket.onclose = function(e) { //웹소켓이 닫힐때 필요
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) { //엔터키 이벤트
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({ //제이슨파싱
            'userId': userName,
            'message': message
        }));

        //document.querySelector('#chat-log').value += (message + '\n');

        messageInputDom.value = ''; //입력하는부분 공백으로 변환
    };
</script>

</html>